@import 'normalize'
@import 'variables'
@import 'mixins'

a
	text-decoration: none

li
	list-style-type: none

ul
	padding: 0
	margin: 0

body,
html
	height: 100%

fieldset
	padding: 0
	margin: 0
	border: 0

body
	padding-top: $nav-height
	position: relative
	color: $blumarin
	background-size: 23px 23px
	font-family: $font-family-base
	font-size:  $font-size-base
	line-height: $line-height-base
	background-color: $body-bg
	@media screen and (max-width: $container-max)
		padding-left: $box-pad/4
		padding-right: $box-pad/4

nav#navbar,
header#header,
section#content
	max-width: $container-max
	margin-left: auto
	margin-right: auto


// Some mixins -------------------------------------------//
=desaturate
	filter: gray //IE6-9
	filter: grayscale(1)  //Firefox 35+
	-webkit-filter: grayscale(1) // Google Chrome, Safari 6+ & Opera 15+
=saturate
	filter: none
	-webkit-filter: grayscale(0)

=makesomeresponsivecolumns($n:24)
	$cols: $n
	.col
		width: 100%
		+transition(200ms)
		@media screen and (min-width: $container-md)
			float: left
		@media screen and (min-width: $container-md)
			@for $i from 1 through $cols - 1
				&.sm-w#{$i}
					width: ($i * 100/$cols) * 1%
		@media screen and (min-width: $container-big)
			@for $i from 1 through $cols - 1
				&.w#{$i}
					width: ($i * 100/$cols) * 1%



// -------------------------------------------------------- //
// SCAFOLDING --------------------------------------------- //
// -------------------------------------------------------- //

+makesomeresponsivecolumns(12)

/// When the nav-menu is open in mobile mode.
@media only screen and (max-width: $container-lg)
	body.overflow,
	html.overflow
		overflow: hidden !important
		height: 100%

html:not(.no-touchevents).fixed header#header
	position: relative !important

html:not(.no-touchevents).fixed header#header nav.visible
	+stretch
	min-height: 800px


// -------------------------------------------------------- //
nav#navbar
	@media screen and (max-width: $container-max)
		padding-left: $box-pad/4
		padding-right: $box-pad/4
	
	background: $body-bg
	height: $nav-height
	z-index: 9999
	position: fixed
	top: 0
	left: 0
	right: 0

a.logo
	padding-top: 6px
	display: block
	float: left
	img
		display: block
		width: 153px


// -------------------------------------------------------- //
header#header
	padding-bottom: $box-pad/2
	.banner
		padding-top: $box-pad
		// background: fade-out(olive, 0.5)
		// img
			// visibility: hidden
		
		width: 100%
		
	+clearfix
	h1
		margin: 0
		display: block

.util
	float: right
	padding-top: 6px
	@media screen and (max-width: $container-md)
		li
			&:nth-child(1)
				display: none
			&:nth-child(2)
				display: none
			&:nth-child(3)
				display: none
	
	li
		float: left
		margin-right: 16px
		box-shadow: 2px 2px 0px $dirt

		a
			+square(48px)
			position: relative
			display: block
			padding: 13px 0
			color: white
			font-weight: bold
			background: $blumarin
			text-align: center
			font-size: 0.9em
			line-height: 1.2em
			top: 0 
			left: 0
			+transition(100ms, linear) // requires top left properties
			&:hover
				top: 2px
				left: 2px
				box-shadow: 0px 0px 0px $dirt
			svg
				fill: #FFF
				+center-block
				height: 23px
		&:last-child
			margin-right: 0
			a
				padding-top: 8px

.ctg
	&.dropdown
		&.open
			height: auto

	// 		li
	// 			height: 44px
	// 			opacity: 1
	// li
	// 	+transition(200ms, linear)
	// 	overflow: hidden
	// 	height: 0
	// 	opacity: 0

	button
		background-image: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1794.1 800' enable-background='new 0 0 1794.1 800' xml:space='preserve'><g><polygon fill='#3a3b73' points='644.2,800 46.3,210.5 256.8,0 644.2,387.4 1031.6,0 1233.7,210.5'/></g></svg>")
		background-color: transparent
		background-size: 30px 30px
		background-position: right 7px
		background-repeat: no-repeat
		color: transparent
		+place(absolute, 0px, 0px, auto, auto)
		z-index: 99
		margin: 0
		border: 0
		padding: 12px 10px 14px
		+transition(200ms)
		
		&:hover
			background-position: right 10px
		&:focus,
		&:active
			outline: none

	height: 48px
	position: relative
	overflow: hidden
	width: 145px
	float: left
	margin-top: 6px
	margin-left: $box-pad / 2
	border: 2px solid $blumarin
	background: white

	li,
	button,
	a
		width: 100%
		display: block
	
	li
		&.active
			z-index: 0
			position: absolute
			background: white
			top: 0
			left: 0
		
		a
			&.active
				// outline: 3px solid red
			&:hover
				color: white
				background: $blumarin
			
			+transition(100ms)
			display: block
			padding: 10px
			color: $blumarin
			font-weight: bold
			width: 100%

	ul
		text-align: left
		display: block
		font-weight: bold
		
		&:before
			content: 'INDUSTRY'
			padding: 10px 0px 10px 10px
			display: block
		// margin-top: 60px






ul.startups
	+clearfix
	display: block
	border-right: 1px solid $blumarin
	border-bottom: 1px solid $blumarin
	li
		box-shadow: inset 1px 1px 0px $blumarin
		float: left
		width: 100%
		position: relative
		
		> div
			+stretch
			text-align: center
			
			> div
				+square(100%)
				display: table
				
		a
			width: 100%
			display: table-cell
			vertical-align: middle
			background: none
			background-size: 50% auto
			background-repeat: no-repeat
			background-position: center center
			// backdrop-filter: grayscale(1) contrast(3) blur(1px)
			// background-color: fade-out($blumarin, 0.4)
			// background-blend-mode: desaturate

		img
			-webkit-filter: sepia(1) hue-rotate(190deg)
			// filter: sepia(1) hue-rotate(200deg)
		
		&:before
			content: ""
			display: block
			padding-top: 100%
		@media screen and (min-width: $container-xs)
			width: (100 / 2) * 1%
		// @media screen and (min-width: $container-sm)
		// 	width: (100 / 2) * 1%
		@media screen and (min-width: $container-md)
			width: (100 / 3) * 1%
		@media screen and (min-width: $container-big)
			width: (100 / 4) * 1%
		@media screen and (min-width: $container-lg)
			width: (100 / 5) * 1%
		// @media screen and (min-width: $container-max)
		// 	width: (100 / 5) * 1%			

	a
		display: block
		color: white
		// font-size: 1.5em

		strong
			+stretch
			font-weight: normal
			padding: 45% $box-pad/2 0
			display: block
			background: $blumarin
			+transition(200ms)
			opacity: 0
			z-index: 3

		&:hover
			strong
				opacity: 1
	
	img
		z-index: 2
		+desaturate
		max-width: 100px






.last
	// display: block
	+clearfix
	// background: blue






// ------------------------
// STARTUP page -----------
// ------------------------

.st-name
	display: block
	text-align: center
	padding: $box-pad * 2
	background: fade-out($blumarin, .1)
	color: #fff

.st-info
	+clearfix
	padding-top: $box-pad
	p
		@media screen and (min-width: $container-big)
		margin-top: 0
		padding-right: $box-pad * 2

ul.st-det
	&, li
		display: block
	li
		line-height: $box-pad
	
.st-logo
	img
		max-width: 100px

.st-det
	li
		line-height: 1.4em
	
	svg
		fill: $blumarin
		margin-right: $box-pad / 2 
		display: inline-block
		vertical-align: middle
		width: 20px
	a
		&:hover
			border-bottom: 2px solid transparent
		color: $blumarin
		border-bottom: 2px solid
		+transition(200ms, linear)

.st-twitter
	display: block
	a
		+background-image('fb_ico.svg')
		background-size: 20px 20px
		padding-left: 40px

svg.hide
	// just in case
	display: none


// ------------------------------------------
// Submit page ------------------------------
// ------------------------------------------
#addstartup
	padding-top: $box-pad
	h1
		text-align: center
	form
		padding: 0 $box-pad / 2
		@media only screen and (min-width: $container-lg)
			padding: 0
	
// form element
.add-startup
	max-width: $container-sm
	+center-block


fieldset.double
	position: relative
	overflow: hidden
	margin-left: - $box-pad/2
	margin-right: - $box-pad/2
	.group
		display: inline-block
		width: 50%
		padding-left: $box-pad/2
		padding-right: $box-pad/2



// $fld-h: 50px
.group
	&.textarea
		height: auto
	
	margin-bottom: $box-pad

label
	&:after
		content: ' :'

.fld
	width: 100%
	padding: $box-pad/4 $box-pad/2
	background: $blumarin
	line-height: 1.4em
	display: block
	border-radius: 0
	border: 1px solid $blumarin
	-webkit-appearance: none
	color: white
	outline: none

	&:active,
	&:focus
		// box-shadow: 0px 2px 0px black

select.fld
	background-image: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1794.1 800' enable-background='new 0 0 1794.1 800' xml:space='preserve'><g><polygon fill='#FFF' points='644.2,800 46.3,210.5 256.8,0 644.2,387.4 1031.6,0 1233.7,210.5'/></g></svg>")

	background-size: 30px 30px
	background-position: right 7px
	background-repeat: no-repeat

textarea.expanding.fld
	border: 1px solid $blumarin
	height: auto
	min-height: 50px
	margin: 0
	z-index: 3
	position: relative

input.btn
	color: white
	background: $blumarin
	display: inline-block
	width: auto
	padding: $box-pad / 4 $box-pad / 2
	&[disabled="disabled"]
		background: #ccc
		border: #ccc

.button
	padding: $box-pad 0

//Override browser form-filling and input highlighting with HTML/CSS
input:-webkit-autofill
	-webkit-box-shadow: 0 0 0px 1000px white inset

// Validation ------------------------
.fld,
select.fld,
textarea.fld
	&.error, &.required
		border: 1px solid red
	
	&.valid	
		// border: 1px solid green







