@import 'variables'
@import 'mixins'
@import 'normalize'

a
	text-decoration: none

li
	list-style-type: none

ul
	padding: 0
	margin: 0

body,
html
	height: 100%

body
	color: $blumarin
	border: 20px solid $peach
	+background-image('circle.svg')
	background-color: $peach
	background-size: 23px 23px
	font-family: $font-family-base


nav.ctg,
#content
	background-color: white

.logo, .util
	position: relative

#header
	// padding-bottom: $box-pad/2
	.logo, .util
		width: 100%
	
	@media screen and (min-width: $container-md)
		$logo-w: 67
		.logo
			width: ($logo-w) * 1%
		.util
			width: (100 - $logo-w) * 1%

	@media screen and (min-width: 890px)
		.logo
			width: 600px
	
	// @media screen and (min-width: $container-big)
	// 	// .logo
	// 		// width: 600px
	// 	.util
	// 		padding-top: $box-pad
	// 		// width: 50%
	
	+clearfix
	h1
		margin: 0
		display: block

@media screen and (min-width: $container-big)

.logo
	float: left

.util
	float: right

	@media screen and (min-width: $container-big)
		max-width: 227px
	
	@media screen and (max-width: 750px) and (min-width: $container-md)
		max-width: 146px
	
	ul, a
		display: block
	
	li
		
		display: block
		float: left
		
		@media screen and (min-width: 750px)
			display: inline-block
			float: none
			// outline: 4px solid red
		
		padding: 0px 5px 5px 0
		background: $dirt
		margin: 0 15px 15px 0
		// line-height: 60px
		a
			+square(60px)

			text-align: center
			display: block
			
			img
				+center-block
			// line-height: 10px
			padding-top: 15px
			padding-bottom: 14px
			color: $blumarin
			font-weight: bold
			background: white

		&:nth-child(1) img
			width: 35px
		&:nth-child(2)
			img
				width: 16px
			@media screen and (min-width: $container-md) and (max-width: 750px)
				margin-right: 0
		&:nth-child(3)
			img
				width: 37px
			@media screen and (min-width: 750px)
				margin-right: 0
			a
				padding-top: 17px

		&.submit
			margin-right: 1px
			a
				// line-height: 20px
				// padding: 0
				// display: block
				// background: blue
			@media screen and (max-width: 750px)
				// display: block

			@media screen and (min-width: 750px)
				width: auto
				display: block
				a
					+size(auto)
		

	

.wrap
	max-width: $container-max
	+center-block

nav.ctg
	select, ul
		display: none
	
	ul
		width: 100%
		border-bottom: 2px solid $peach
	
	li
		text-align: center
		display: inline-block
		display: table-cell
	
	a
		color: $blumarin
		font-weight: 900
		padding: $box-pad/2 0
		display: block
		+transition(200ms)
		&:hover
			background-color: $blumarin
			color: white
	
	select
		&:focus
			outline: none
		&:after
			content: 'test'
			display: block
			position: absolute
		
		width: 100%
		overflow: hidden
		padding: 10px
		margin: 0
		border: 2px solid $blumarin
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		box-shadow: none
		border-radius: 0
		+background-image('arrow_ico.svg')
		background-color: transparent
		background-size: 30px 30px
		background-position: right 5px
		background-repeat: no-repeat


	@media screen and (min-width: $container-sm)
		select
			display: block
	
	@media screen and (min-width: $container-big)
		select
			display: none
		ul
			display: table

// Custom select


ul.startups
	+clearfix
	display: block

	li
		float: left
		width: 100%
		position: relative
		border-bottom: 2px solid $peach
		a
			color: $blumarin
		
		> div
			+stretch
			text-align: center
			
			> div
				+square(100%)
				display: table
				
				a
					vertical-align: middle
					display: table-cell

		&:before
			content: ""
			display: block
			padding-top: 100%

		// left: -2px
		// position: relative
		// display: inline-block
		// width: 100%
		
		@media screen and (min-width: $container-md)
			width: (100 / 2) * 1%
			left: -2px
			border-left: 2px solid $peach
		
		@media screen and (min-width: $container-big)
			width: (100 / 3) * 1%
		@media screen and (min-width: $container-lg)
			width: (100 / 4) * 1%
		@media screen and (min-width: $container-max)
			width: (100 / 5) * 1%			

	img
		max-width: 100px
#content
	padding-top: 2px solid $peach




// *
// 	outline:  1px dotted red

.last
	// display: block
	+clearfix
	// background: blue


// Contact ------------------------------------------

#addstartup
	padding-top: $box-pad
	h1
		text-align: center
	
	+clearfix

	@media only screen and (min-width: $container-lg)
		max-width: auto
		// margin: 0 -1 * $box-pad / 2

		> div
			// outline: 2px solid blue
			// padding: 0 $box-pad / 2
			
			display: inline-block
			vertical-align: top
			width: 50%
			position: relative
	
	.info
		padding: 0 $box-pad / 2 $box-pad $box-pad / 2
		max-width: $container-big
	
	form
		padding: 0 $box-pad / 2
		@media only screen and (min-width: $container-lg)
			padding: 0
	


// $fld-h: 50px

.group
	&.textarea
		height: auto

	margin-bottom: 26px
	padding: 0
	input, select
		box-sizing: border-box

.fld
	&.error, &.required
		border-bottom: 2px solid red
	&.valid	
		border-bottom: 2px solid green

	border: 2px solid white
	border-bottom: 2px solid $blumarin
	line-height: 1.4em
	display: block
	width: 100%
	border-radius: 0
	-webkit-appearance: none
	color: $blumarin
	outline: none
	padding-right: $box-pad

	&:active,
	&:focus
		// box-shadow: 0px 2px 0px black

select
	background: white

input:-webkit-autofill
	-webkit-box-shadow: 0 0 0px 1000px white inset

label
	&:after
		content: ' :'

textarea.expanding.fld
	border: 2px solid $blumarin
	height: auto
	min-height: 50px
	// padding: 13px 0
	margin: 0
	z-index: 3
	position: relative
	label
		position: relative
		z-index: 1
	&:focus
		background-color: white
	&.valid, &:focus
		// background-color: white
		height: auto
		// z-index: 4

	// max-height: $fld-h

input.btn
	color: white
	background: $blumarin
	display: inline-block
	width: auto
	padding: $box-pad / 4 $box-pad / 2
	&[disabled="disabled"]
		background: #ccc
		border: #ccc

.left,
.right
	// @media only screen and (max-width: $container-big)
	// 	padding-left: 0
	padding-top: $box-pad
	padding-bottom: $box-pad
	// padding: 0
	border: 0
	margin: 0
	width: 50%
	float: left
	display: block

.left
	padding-right: $box-pad/2
	padding-left: $box-pad

.right
	padding-left: $box-pad/2
	padding-right: $box-pad

.button
	padding: $box-pad 0


$white: white
$highlightColorActive: #000
$blue: rgb(69, 113, 236)

// +square($dim)

// The important CSS
// ------------------------

.control-inline label
	display: inline
	position: relative

